#wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
    align-items: center;

}
#searchbar{
    height: 5em;
}

#titlebar{
    font-size: 3em;
}
/* DARKMODE */
.toggle {
    position : relative ;
    display : inline-block;
    width : 40px;
    height : 20px;
    background-color: rgb(9, 9, 9);
    border-radius: 30px;
    border: 2px solid gray;
}
       
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 1px;
    left: 1px;
    transition:  all 0.5s;
}
       
/* Toggle text */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
       
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 20px;
}
       
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: rgb(255, 255, 255);
}
       
/* Checkbox vanished */
.checkbox {
    display : none;
}
/* --------------------------- */